button.btn {
  margin-top: 50px;
  width: 90%;
  border: 2px solid #6434ce !important;
  border-radius: 8px;
  padding: 0.65em 1em;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.2s ease;
  cursor: pointer;
  color: #fff;
  background: #1D103A;
}


button.btn:hover {
  background: #6434ce;
}